/**
 * core.css
 *
 * Este archivo tiene definidas las clases para las columnas, fuentes,
 * tamaÃƒÂ±os de fuentea, margins, paddings con acceso rapido, alineacion de texto,
 * colores basicos en fuentes, simuladores de breaklines y clases globales (*).
 *
 * Core [Temario]
 * _Font_Face
 * _Font_Size
 * _Padding
 * _Margin
 * _Text_Align
 * _Text_Ellipsis
 * _Color
 * _Position
 * _Overflow
 * _Break_Line
 * _No_Select
 * _Columnas
 * _Boxed
 * _Media
 * _Global
 * _Toast
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    overflow-x: hidden;
    /* prevent copy paste, to allow, change 'none' to 'text' */
}

.align-vertical {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.full-screen {
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    height: 100%!important;
    width: 100%!important;
    display: flex!important;
    flex-direction: column;
    overflow-x: hidden;
}

#miniLoading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    transition: opacity 0.3s ease;
    display: none;
    opacity: 0;
}

#miniLoading img {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 15pt;
    box-shadow: 0px 8px 20px -15px #888888;
    margin: auto;
    background: white;
    transition: transform, opacity, 0.3s ease;
    opacity: 0;
    transform: scale(0.8);
}

@supports(padding: max(0px)) {
    body {
        background: black;
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
}


/*-------------------------------------------*\
 * _Font_Face
 *
 * Definicion de tipografÃƒÂ­as
 * - Light     [font__1]
 * - Regular   [font__2]
 * - Medium    [font__3]
 * - SemiBold  [font__4]
 * - Bold      [font__5]
\*-------------------------------------------*/

@font-face {
    font-family: 'Customfont';
    src: url(../fonts/5c92d5d3e39a260d5dd06ced7eca070d.ttf);
}

@font-face {
    font-family: 'font__4';
    src: url(../fonts/5c92d5d3e39a260d5dd06ced7eca070d.woff2);
}

@font-face {
    font-family: 'font__5';
    src: url(../fonts/5c92d5d3e39a260d5dd06ced7eca070d.woff2);
}

@font-face {
    font-family: 'font__3';
    src: url(../fonts/b796339b324ec08006ca04dca90284cf.woff2);
}

@font-face {
    font-family: 'font__2';
    src: url(../fonts/bcf3bb1b7f7a3436181788e748bae013.woff2);
}

@font-face {
    font-family: 'font__1';
    src: url(../fonts/bcf3bb1b7f7a3436181788e748bae013.woff2);
}

.font__1 {
    font-family: 'font__1', sans-serif;
}

.font__2 {
    font-family: 'font__2', sans-serif;
}

.font__3 {
    font-family: 'font__3'!important;
}

.font__4 {
    font-family: 'font__4', sans-serif!important;
}

.font__5 {
    font-family: 'font__5', sans-serif;
}


/*-------------------------------------------*\
 * _Font_Size
 *
 * Desde 8pt hasta 40pt
\*-------------------------------------------*/

.pt8 {
    font-size: 8pt;
    line-height: 12px;
}

.pt9 {
    font-size: 9pt;
}

.pt10 {
    font-size: 10pt!important;
}

.pt12 {
    font-size: 12pt;
}

.pt14 {
    font-size: 14pt;
}

.pt16 {
    font-size: 16pt;
}

.pt18 {
    font-size: 18pt;
}

.pt20 {
    font-size: 20pt;
}

.pt22 {
    font-size: 22pt;
}

.pt24 {
    font-size: 24pt;
}

.pt26 {
    font-size: 26pt;
}

.pt28 {
    font-size: 28pt;
}

.pt30 {
    font-size: 30pt!important;
}

.pt32 {
    font-size: 32pt;
}

.pt34 {
    font-size: 34pt;
}

.pt36 {
    font-size: 36pt;
}

.pt38 {
    font-size: 38pt;
}

.pt40 {
    font-size: 40pt!important;
}

.lh30 {
    line-height: 30px;
}

html .pl30 {
    padding-left: 30px!important;
}


/*-------------------------------------------*\
 * _Padding
 *
 * Desde 0px hasta 45px
\*-------------------------------------------*/

.p0 {
    padding: 0px!important
}

.p5 {
    padding: 5px!important
}

.p10 {
    padding: 10px!important
}

.p15 {
    padding: 15px!important
}

.p20 {
    padding: 20px!important
}

.p25 {
    padding: 25px!important
}

.p30 {
    padding: 30px!important
}

.p35 {
    padding: 35px!important
}

.p40 {
    padding: 40px!important
}

.p45 {
    padding: 45px!important
}

.pt0 {
    padding-top: 0!important;
}

.pr0 {
    padding-right: 0!important;
}

.pb0 {
    padding-bottom: 0!important;
}

.pl0 {
    padding-left: 0!important;
}
.pl40{
    padding-left: 40px!important;
}


/*-------------------------------------------*\
 * _Margin
 *
 * Desde 0px hasta 40px
\*-------------------------------------------*/

.ma {
    margin: auto
}

.m0 {
    margin: 0px!important
}

.m5 {
    margin: 5px!important
}

.m10 {
    margin: 10px!important
}

.m15 {
    margin: 15px!important
}

.m20 {
    margin: 20px!important
}

.m25 {
    margin: 25px!important
}

.m30 {
    margin: 30px!important
}

.m35 {
    margin: 35px!important
}

.m40 {
    margin: 40px!important
}

.mr20 {
    margin: 20px!important
}


/*-------------------------------------------*\
 * _Text_Align
 *
 * AlineaciÃƒÂ³n de tipografÃƒÂ­as
 * - Center
 * - Left
 * - Right
 * - Justify
\*-------------------------------------------*/

.txt-center {
    text-align: center!important;
}

.txt-left {
    text-align: left!important;
}

.txt-right {
    text-align: right!important;
}

.txt-justify {
    text-align: justify!important;
    font-family: font__1;
}


/*-------------------------------------------*\
 * _Text_Ellipsis
\*-------------------------------------------*/

.toe {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*-------------------------------------------*\
 * _Color
 *
 * Colores basicos en tipografÃƒÂ­as
 * - Blanco
 * - Negro
\*-------------------------------------------*/

:root {
    --color-primary: #96c449;
}

.txt-white {
    color: white!important;
}

.txt-black {
    color: black;
}

.txt-primary {
    color: var(--color-primary);
}


/*-------------------------------------------*\
 * _Positions
 *
 * Coleccion de pocisiones 
 * - Absolute
 * - Relative
 * - Fixed
\*-------------------------------------------*/

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.pf {
    position: fixed;
}


/*-------------------------------------------*\
 * _Overflow
 *
 * Coleccion de overflows 
 * - Hidden
 * - Visible
 * - Scroll
\*-------------------------------------------*/

.oh {
    overflow: hidden!important;
}

.ov {
    overflow: visible!important;
}

.os {
    overflow: scroll!important;
}

.osx {
    overflow-x: scroll!important;
}

.osy {
    overflow-y: scroll!important;
}


/*-------------------------------------------*\
 * _Break_Line
 *
 * Desde 15px hasta 150px
\*-------------------------------------------*/

.br {
    width: 100%;
    height: 15px;
    z-index: -100;
    display: flex;
}

.br1 {
    width: 100%;
    height: 15px;
    z-index: -100;
    display: flex;
}

.br2 {
    width: 100%;
    height: 30px;
    z-index: -100;
    display: flex;
}

.br3 {
    width: 100%;
    height: 45px;
    z-index: -100;
    display: flex;
}

.br4 {
    width: 100%;
    height: 60px;
    z-index: -100;
    display: flex;
}

.br5 {
    width: 100%;
    height: 75px;
    z-index: -100;
    display: flex;
}

.br6 {
    width: 100%;
    height: 90px;
    z-index: -100;
    display: flex;
}

.br7 {
    width: 100%;
    height: 105px;
    z-index: -100;
    display: flex;
}

.br8 {
    width: 100%;
    height: 120px;
    z-index: -100;
    display: flex;
}

.br9 {
    width: 100%;
    height: 135px;
    z-index: -100;
    display: flex;
}

.br10 {
    width: 100%;
    height: 150px;
    z-index: -100;
    display: flex;
}


/*Adicional*/

.vh100 {
    height: 100vh;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/*-------------------------------------------*\
* _No_Select
*
* Esta clase se usa para que el usuario no 
* pueda seleccionar nada del elemnto aplicado.
* Tambien aplica a los hijos de este elemento.
*
\*-------------------------------------------*/

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/*-------------------------------------------*\
 * _Columnas
 *
 * Columnas para estructurar el proyecto.
 * d1 a d12 concatenando opcionalmente -sm o -xs
\*-------------------------------------------*/

.d1,
.d2,
.d3,
.d4,
.d5,
.d6,
.d7,
.d8,
.d9,
.d10,
.d11,
.d12,
.d1-md,
.d2-md,
.d3-md,
.d4-md,
.d5-md,
.d6-md,
.d7-md,
.d8-md,
.d9-md,
.d10-md,
.d11-md,
.d12-md,
.d1-sm,
.d2-sm,
.d3-sm,
.d4-sm,
.d5-sm,
.d6-sm,
.d7-sm,
.d8-sm,
.d9-sm,
.d10-sm,
.d11-sm,
.d12-sm,
.d1-xs,
.d2-xs,
.d3-xs,
.d4-xs,
.d5-xs,
.d6-xs,
.d7-xs,
.d8-xs,
.d9-xs,
.d10-xs,
.d11-xs,
.d12-xs {
    float: left;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    font-family: font__2;
}

.d1 {
    width: 8.33333333%
}

.d2 {
    width: 16.66666667%
}

.d3 {
    width: 25%
}

.d4 {
    width: 33.33333333%
}

.d5 {
    width: 41.66666667%
}

.d6 {
    width: 50%
}

.d7 {
    width: 58.33333333%
}

.d8 {
    width: 66.66666667%
}

.d9 {
    width: 75%
}

.d10 {
    width: 83.33333333%
}

.d11 {
    width: 91.66666667%
}

.d12 {
    width: 100%;
    display: block;
}

.hide {
    display: none!important;
}

.df {
    display: flex;
}

.show {
    display: block!important;
}


/*-------------------------------------------*\
 * _Boxed
\*-------------------------------------------*/

.boxed {
    max-width: 1250px;
    margin: auto;
    float: unset!important;
}


/*-------------------------------------------*\
 * _Media
 *
 * Efecto responsivo
 * - Laptop
 * - Tablet
 * - Movil
\*-------------------------------------------*/


/* Laptop */

@media (max-width: 1000px) {
    /* Default */
}


/* Tablet */

@media (max-width: 600px) {
    .hide-sm {
        display: none!important;
    }
    .show-sm {
        display: block!important;
    }
    .d1-sm {
        width: 8.33333333%
    }
    .d2-sm {
        width: 16.66666667%
    }
    .d3-sm {
        width: 25%
    }
    .d4-sm {
        width: 33.33333333%
    }
    .d5-sm {
        width: 41.66666667%
    }
    .d6-sm {
        width: 50%
    }
    .d7-sm {
        width: 58.33333333%
    }
    .d8-sm {
        width: 66.66666667%
    }
    .d9-sm {
        width: 75%
    }
    .d10-sm {
        width: 83.33333333%
    }
    .d11-sm {
        width: 91.66666667%
    }
    .d12-sm {
        width: 100%
    }
}


/* Movil */

@media (max-width: 356px) {
    footer>div {
        font-size: 9pt!important;
    }
}

@media (max-width: 320px) {
    footer>div {
        font-size: 8pt!important;
    }
}

@media (max-width: 460px) {
    .hide-xs {
        display: none;
    }
    .show-xs {
        display: block;
    }
    .d1-xs {
        width: 8.33333333%
    }
    .d2-xs {
        width: 16.66666667%
    }
    .d3-xs {
        width: 25%
    }
    .d4-xs {
        width: 33.33333333%
    }
    .d5-xs {
        width: 41.66666667%
    }
    .d6-xs {
        width: 50%
    }
    .d7-xs {
        width: 58.33333333%
    }
    .d8-xs {
        width: 66.66666667%
    }
    .d9-xs {
        width: 75%
    }
    .d10-xs {
        width: 83.33333333%
    }
    .d11-xs {
        width: 91.66666667%
    }
    .d12-xs {
        width: 100%
    }
}


/*-------------------------------------------*\
 * _Global
 *
 * Definicion de aplicativos globales
\*-------------------------------------------*/

.w100 {
    width: 100%!important;
}

* {
    letter-spacing: -.5px;
    box-sizing: border-box;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    outline: none;
    font-family: font__2;
    color: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden!important;
    width: 100vw;
    height: 100vh;
}

.cp {
    cursor: pointer;
}

.boxed-sm {
    max-width: 400px;
}


/* _Toast */

#toast {
    position: fixed;
    background: #1c1c1c;
    z-index: 10000000000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    font-size: 12px;
    transition: transform 0.3s ease;
    transform: translateY(100px);
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
    font-size: 19px;
    font-family: font__3;
    line-height: 23px;
    letter-spacing: -.5px;
    padding-left: 0px;
    padding-right: 0px;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
    transition: opacity 0.3s ease;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 2, 200;
    stroke-dashoffset: 0;
    stroke: #fff;
    -webkit-animation: dash 1s ease-in-out infinite;
    animation: dash 1s ease-in-out infinite;
    /*stroke-linecap: round;*/
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 2, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 2, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
