<navbar-index>
	<div class="navbar" id="navbar-index">
		<div class="navbar-bg"></div>
		<div class="navbar-inner" style="background-color: #6c090f">
			<div class="left hide show-sm ">
				<a class="link icon-only panel-open" data-panel="left">
					<i class="icon icon-menu txt-white"></i>
				</a>
			</div>

			<div class="title title-center" style="font-weight: bold;">
				<img src="assets/img/letra.png" >
			</div>

			<div class="right">
				<!-- onclick="G.openSearchIndex()" class="link icon-only searchbar-enable" data-searchbar="#searchbar-index" searchbar-enable -->
				<a class="link icon-only" style="opacity:0!important">
					<i class="icon icon-eye"></i>
				</a>
			</div>
		</div>
	</div>
</navbar-index>