<navbar-users>
	<div class="navbar" id="navbar-receivedfiles">
		<div class="navbar-bg"></div>
		<div class="navbar-inner" style="background-color: #6c090f">
			<div class="left hide show-sm">
				<a class="link icon-only panel-open" data-panel="left">
					<i class="icon icon-menu txt-white"></i>
				</a>
			</div>

			<div class="title title-center" style="color: white;">
                Usuarios
			</div>

			<div class="right" onclick="s.type='man';hash('user');">
				<a class="link icon-only" style="opacity:1!important">
					<i class="icon icon-plus white"></i>
				</a>
			</div>
		</div>
	</div>
</navbar-users>