<appointments>
    <span class="empty-state-my-cart"><i class="icon icon-book-open"></i></span>
    <div class="block-title font__5" style="text-align: center;">En construcción🏗️👷</div>
    <script>
        s.appointments = this
    </script>
</appointments>