<aside class="panel panel-left panel-cover">
    <div class="page">
        <div class="navbar">
            <div class="navbar-bg" style="background-color: #6c090f !important"></div>
            <div class="navbar-inner sliding">
                <div class="title title-center" style="color: white;">
                    <!-- <img src="assets/img/identity/logo-white.png" style="opacity:1!important"> -->
                    MENU
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="navbar" style="height:185px">
                <div class="navbar-bg"></div>
                <div class="navbar-inner sliding">
                    <div class="title title-center" style="margin-top:0px!important;padding-top:20px;">
                        <span class="logo-pc elevation-4" style="background-color: white;">
                            <img src="assets/img/logo.png" style="opacity:1;width:100%;top: 47px; height: unset!important;">     
                        </span>
                         <!-- {token.name} -->
                        ADMINISTRADOR
                    </div>
                </div>
            </div>

            <div class="block-title">MENÚ DE OPCIONES</div>
            <div class="list">
                <ul>
                    <li>
                        <div class="item-content button" onclick="hash('')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-home"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Inicio</div>
                                <div class="item-after"><i class="icon icon-chevron-right"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content button" onclick="hash('requests')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-bell"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Verificaciónes</div>
                                <div class="item-after"><i class="icon icon-chevron-right"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content button" onclick="hash('appointments')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-book"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Citas</div>
                                <div class="item-after"><i class="icon icon-chevron-right"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content button" onclick="hash('users')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-users"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Lista de usuarios</div>
                                <div class="item-after"><i class="icon icon-chevron-right"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content button" onclick="hash('partners')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-gitlab"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Lista de socias</div>
                                <div class="item-after"><i class="icon icon-chevron-right"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content button" onclick="hash('settings')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-settings"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Configuracion</div>
                                <div class="item-after"><i class="icon icon-chevron-right"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content button" onclick="G.logout()">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-log-out"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Cerrar sesión</div>
                                <div class="item-after"><i class="icon icon-chevron-right"></i></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        s.aside = this

        this.on('mount', function () {
            $('aside .item-content').on('click', function () {
                if (window.innerWidth < 800)
                    app.panel.close('aside.panel')
            })
            setTimeout(function () {
                if (window.innerWidth < 800)
                    app.panel.close('aside.panel')
                else
                    app.panel.open('aside.panel')
            }, 800)
        })
    </script>
</aside>