<index style="background-color: #a22121">
	<style>
		.opeator-indicator {
			position: absolute;
			z-index: 10000;
			width: 210px;
			height: 24px;
			background-color: #6c090f;
			border-radius: 5pt;
			left: 10px;
			bottom: 90px;
			box-shadow: 0px 0px 20px -10px black;
			font-family: font__5;
			padding: 15px;
			font-size: 13pt;
			text-align: center;
		}
	</style>
	<!-- <div id="map" style="height:100%;width:100%"></div> -->

	<span class="empty-state-my-cart"><i class="icon icon-truck"></i></span>
	<div class="block-title font__5" style="text-align: center;">En construcción🏗️👷</div>
	<script>
		s.index = this
	</script>
</index>