<login>
  <style>
    input::placeholder {
      color: black!important;
    }
  </style>

  <div class="view">
    <div class="page login-screen-page" style="width:100%!important;transform:translateX(0px)!important;display:flex!important;">
      <div class="page-content login-screen-content">
        <div class="login-screen-title">
          <img src="assets/img/logo.png" style="width:100px">
          <small class="titleAuth p5 font__5">ADMINISTRADOR</small>
        </div>
        <form onsubmit="event.preventDefault();s.login.login()" id="login-form">
          <div class="list">
            <ul>
              <li class="item-content item-input">
                <span class="item-media">
                  <i class="icon item-label icon-user"></i>
                </span>
                <div class="item-inner">
                  <div class="item-title item-label">Nombre de usuario</div>
                  <div class="item-input-wrap" style="border-bottom:1px solid white">
                    <input required type="text" id="user" placeholder="Ingresa tu nombre de usuario">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <span class="item-media">
                  <i class="icon item-label icon-lock"></i>
                </span>
                <div class="item-inner">
                  <div class="item-title item-label">Contraseña</div>
                  <div class="item-input-wrap" style="border-bottom:1px solid white">
                    <input required type="password" id="password" placeholder="Ingresa tu contraseña">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list">
            <ul>
              <li>
                <div class="block">
                  <p class="row">
                    <button class="col button button-large font__5 button-raised"
                    style="background-color: #6c090f !important; color:white!important;" >Iniciar Sesión</button>
                  </p>
                </div>
              </li>
            </ul>
            <div class="block-footer">&nbsp;</div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    s.login = this

    login(){
      app.dialog.preloader('Cargando')
      $.ajax({
        url: api + path + 'authOdd',
        type: 'POST',
        dataType: 'json',
        data: {
            userName: $('#user').val(),
            password: $('#password').val(),
        }
      })
        .done(function (response) {
          app.dialog.close()
          if (response.status == 200) {
            loginScreen.close()
            G.toastS('Bienvenido', 'center');
            token = response
            localStorage.setItem('erosAdmin', JSON.stringify(token))
            s.aside.update()
            hash('')
            SYNC()
          } else {
            G.toastS('Contraseña incorrecta', 'center', true);
          }
        })
        .fail(function (error) {
          app.dialog.close()
          G.fail();
        })
    }
  </script>
</login>