<partners>

  <style>
    .rechazar{
       background: rgb(184, 9, 9);
     }

     .habilitar{
       background: rgb(9, 184, 35);
     }
     
     .tc{
        text-align: center!important;
     }
 </style>
    <!-- <span class="empty-state-my-cart"><i class="icon icon-book-open"></i></span> -->
    <div class="list media-list">
        <ul>
          <li each={x in s.partners.partners} onclick={open(x)}>
            <a href="#" class="item-link item-content">
              <!-- <div class="item-media"><img src="https://cdn.framework7.io/placeholder/people-160x160-1.jpg" width="80"/></div> -->
              <div class="item-inner">
                <div class="row">
                    <div class="col-50">
                        <div class="row tc">
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Tipo de usuario:</div>
                                <div class="item-title">{x.type == 'man'? 'USUARIO':'SOCIA'}</div>
                            </div>
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Nombre:</div>
                                <div class="item-title">{x.name}</div>
                            </div>
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Correo electrónico:</div>
                                <div class="item-title">{x.email}</div>
                            </div>
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Teléfono:</div>
                                <div class="item-title">{x.phone}</div>
                            </div>
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Domicilio:</div>
                                <div class="item-title">{x.address}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="row">
                            <div class="col-100 p10">
                                <img src="https://erostechnology.xyz/api/public/admin/{x.frontImg}" onclick="window.open('https://erostechnology.xyz/api/public/admin/{x.frontImg}','_system')" class="img-verification border-raadius" alt="Imagen no cargada" width="200" height="200" style="border-radius: 25px">
                            </div>
                        </div>
                    </div>
                    <div class="col-25">
                      <div class="row">
                        <div class="col-100 p10">
                            <img src="https://erostechnology.xyz/api/public/admin/{x.backImg}" onclick="window.open('https://erostechnology.xyz/api/public/admin/{x.backImg}','_system')" class="img-verification" alt="Imagen no cargada" width="200" height="200" style="border-radius: 25px">
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-100 p10" if={x.isAvailable}>
                        <input type="button" class="button button-fill button-raised rechazar" value="Denegar acceso" onclick="{refuse(x)}">
                    </div>
                    <div class="col-100 p10" if={!x.isAvailable}>
                        <input type="button" class="button button-fill button-raised habilitar" value="Habilitar acceso" onclick="{enable(x)}">
                    </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>  
    <script>
        s.partners = this
        s.partners.partners = [];

        this.on('mount', function() {
            G.getData({
                table: 'users',
                order: 'id DESC',
                where: {
                    status: 1,
                    type: "woman"
                }
            })
            .then(function(res){
                if (res.length) {
                    s.partners.partners = res;
                    s.partners.update();
                }
            })
        })

        open(x){
         return function(event){
                s.partners.current = {...x}
                hash('user')
            }
        }

        enable(x){
          return function(event){
            app.dialog.confirm('¿Seguro que quiere habilitar acceso a esta socia?', 'EROS', function(){
              app.dialog.preloader('Cargando')
              var f = {
                table: 'users',
                where: {
                  id: x.id
                }
              }
              let data = {
                isAvailable: 1,
              }

              G.postData(f, data)
              .then(function (r) {
                app.dialog.close()
                G.toastS('Socia con acceso habilitado con exito.', 'center');
                hash('partners')
                riot.mount('partners')
                })
            })
          }
        }

        refuse(x){
          return function(event){
                app.dialog.prompt('¿Ingresa el motivo de denegar acceso a esta socia?', 'EROS', function(val){
                    app.dialog.preloader('Cargando')
                    var f = {
                        table: 'users',
                        where: {
                            id: x.id
                        }
                    }
                    let data = {
                      isAvailable: 0,
                      unavailableReason: val
                    }
                    G.postData(f, data)
                        .then(function(r) {
                            if (r) {
                                app.dialog.close()
                                G.toastS('Socia con acceso denegado con exito.', 'center');
                                hash('partners')
                                riot.mount('partners')
                                
                            } else {
                                G.fail();
                            }
                        })
                })
                 
            }
        }
    </script>
</partners>