<requests>
    <style>
        .img-verification{
            max-width: 250px;
            width: 100%;
            display: block;
            margin: auto;
        }

        .aceptar{
            background: rgb(9, 184, 35);
        }
        .rechazar{
            background: rgb(184, 9, 9);
        }
    </style>

    <div class="row" if={s.requests.requests.length == 0}>
        <div class="br5"></div>
        <div class="col-100 p10">
            <div class="row">
                <div class="col-100 card">
                    <div style="width: 100%;">
                        <div class="br1"></div>
                        <img src="assets/img/request.png" style="max-width: 150px;display: block;margin: auto;">
                    </div>
                    <div style="width: 100%;">
                        <p class="font__5 pt12 txt-center">No tienes solicitudes nuevas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="list media-list" if={s.requests.requests.length > 0}>
        <ul>
          <li each={x in s.requests.requests}>
            <a href="#" class="item-link item-content">
              <!-- <div class="item-media"><img src="https://cdn.framework7.io/placeholder/people-160x160-1.jpg" width="80"/></div> -->
              <div class="item-inner">
                <div class="row">
                    <div class="col-50">
                        <div class="row">
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Tipo de usuario:</div>
                                <div class="item-title">{x.type == 'man'? 'USUARIO':'SOCIA'}</div>
                            </div>
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Nombre:</div>
                                <div class="item-title">{x.name}</div>
                            </div>

                            <div class="col-100">
                                <div class="item-text pt8 font__5">Correo electrónico:</div>
                                <div class="item-title">{x.email}</div>
                            </div>
                            
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Teléfono:</div>
                                <div class="item-title">{x.phone}</div>
                            </div>
                           
                            <div class="col-100">
                                <div class="item-text pt8 font__5">Domicilio:</div>
                                <div class="item-title">{x.frontImg}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-25">
                        <div class="row">
                            <div class="col-100 p10">
                                <img src="https://erostechnology.xyz/api/public/admin/{x.frontImg}" onclick="window.open('https://erostechnology.xyz/api/public/admin/{x.frontImg}','_system')" class="img-verification" alt="Imagen no cargada" width="200" height="200">
                            </div>
                        </div>
                    </div>
                    <div class="col-25">
                      <div class="row">
                        <div class="col-100 p10">
                            <img src="https://erostechnology.xyz/api/public/admin/{x.backImg}" onclick="window.open('https://erostechnology.xyz/api/public/admin/{x.backImg}','_system')" class="img-verification" alt="Imagen no cargada" width="200" height="200">
                        </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="item-subtitle">{x.phone}</div>
                <div class="item-text">{x.email}</div> -->
                <div class="row">
                    <div class="col-50 p10">
                        <input type="button" class="button button-fill button-raised aceptar" value="Aceptar" onclick="{accept(x)}">
                    </div>
                    <div class="col-50 p10">
                        <input type="button" class="button button-fill button-raised rechazar" value="Rechazar" onclick="{reject(x)}">
                    </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>  

    <script>
        s.requests = this
        s.requests.requests = [];

        this.on('mount', function() {
            // console.log(opts.x);
            app.dialog.preloader('Cargando')
            G.getData({
                table: 'users',
                order: 'id DESC',
                where: {
                    status: 1,
                    verification: "verifying"
                }
            })
            .then(function(res){
                if (res.length) {
                    s.requests.requests = res;
                    s.requests.update();
                }
                app.dialog.close();
            })
        })

        accept(x){
            return function(event){
                app.dialog.confirm('¿Estas seguro de aceptar este usuario?', 'EROS', function(){
                    app.dialog.preloader('Cargando')
                    var f = {
                        table: 'users',
                        where: {
                            id: x.id
                        }
                    }
                    let data = {
                        verification: 'verified'
                    }
                    G.postData(f, data)
                        .then(function(r) {
                            if (r) {
                                app.dialog.close()
                                G.toastS('Usuario aceptado con éxito.', 'center');
                                hash('users')
                            } else {
                                G.fail();
                            }
                        })
                })
                 
            }
        }

        reject(x){
            return function(event){
                app.dialog.prompt('¿Ingresa el motivo de rechazo de este usuario', 'EROS', function(val){
                    app.dialog.preloader('Cargando')
                    var f = {
                        table: 'users',
                        where: {
                            id: x.id
                        }
                    }
                    let data = {
                        verification: 'reject',
                        reasonReject: val
                    }
                    G.postData(f, data)
                        .then(function(r) {
                            if (r) {
                                app.dialog.close()
                                G.toastS('Usuario rechazado con éxito.', 'center');
                                riot.mount('requests')
                            } else {
                                G.fail();
                            }
                        })
                })
                 
            }
        }
    </script>
</requests>