<popup-user>
    <style>
        .tc{
            text-align: center!important;
        }
    </style>
    <div class="view">
        <div class="page no-resize">
            <div class="navbar">
                <div class="navbar-bg"></div>
                <div class="navbar-inner" style="background-color: #6c090f !important">
                    <div class="title" style="color: white;" if={s.type=="woman" || x.type=="woman"}>Socia</div>
                    <div class="title" style="color: white;" if={s.type=="man" || x.type=="man"}>Usuario</div>
                    <div class="right">
                        <a class="link" onclick="$('#formUser button').trigger('click')"><i class="icon icon-save white"></i></a>
                        <a onclick="s.formUser.close()" class="link popup-close"><i class="icon icon-x white"></i></a>
                    </div>
                </div>
            </div>  End Navbar
            <div class="page-content" style="overflow-x:hidden">
                <div class="block-title">Los campos marcados con ( * ) son obligatorios.</div>
                <div class="block-title">Información de contacto</div>
                <form onsubmit="event.preventDefault();s.formUser.sendFormUser();" id="formUser" class="list">
                    <input type="hidden" name="id" value={x.id} if={x}>
                    <input type="hidden" name="frontImg" id="finalFrontImg" value={x.frontImg}>
                    <input type="hidden" name="backImg" id="finalBackImg" value={x.backImg}>
                    <input type="hidden" name="type" id="type" value={x.type}>
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-media">
                                <i class="icon item-label icon-user"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">* Nombre</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="name" value={x.name} placeholder="Ingresa el nombre" required>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media">
                                <i class="icon item-label icon-phone"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label"> Telefono</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="phone" value={x.phone} onkeypress="onlyNumber(event)" maxlength="10" placeholder="Ingresa el numero de telefono">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media">
                                <i class="icon item-label icon-mail"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">* E-mail de contacto</div>
                                <div class="item-input-wrap">
                                    <input type="email" step="1" min="0" name="email" id="email" value={x.email} placeholder="Ingrese el E-mail" required>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media">
                                <i class="icon item-label icon-lock"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">* Contraseña</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="password" value={x.password} placeholder="Ingresa la contraseña" required>
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media">
                                <i class="icon item-label icon-map-pin"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">* Direccion</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="address" value={x.address} placeholder="Ingrese la direccion">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input" if={s.type=="woman" || x.type=="woman"}>
                            <div class="item-media">
                                <i class="icon item-label icon-dollar-sign"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label">Precio por hora</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="priceHour" value={x.priceHour} placeholder="Ingrese el precio por hora">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input" if={s.type=="woman" || x.type=="woman"}>
                            <div class="item-media">
                                <i class="icon item-label icon-bookmark"></i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title item-label"> Biografia</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="biography" value={x.biography} placeholder="Ingrese la direccion">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                    </ul>   
                    <div class="block-title">Identificación</div>
                    <ul>
                        <li class="item-content item-input">
                                <div class="item-inner">
                                <div class="item-title item-label white"> Identificación frontal</div>
                                <img class="imgPreview verification-img" src="https://erostechnology.xyz/api/public/admin/{x.frontImg}" alt="" srcset="">
                                <div class="item-input-wrap tc">
                                    <input class="inpFrontFile white" type="file" id="frontImg">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                                <div class="item-inner">
                                <div class="item-title item-label white"> Identificación trasera</div>
                                <img class="imgPreview verification-img" src="https://erostechnology.xyz/api/public/admin/{x.backImg}" alt="" srcset="">
                                <div class="item-input-wrap tc">
                                    <input class="inpBackFile white" type="file" id="backImg">
                                </div>
                            </div>
                        </li>
                    </ul>               
                    <div class="block">
                        <div class="row">
                            <div class="col-50" if={x}>
                                <a onclick={remove(x)} class="button color-red button-large">ELIMINAR</a>
                            </div>
                            <div class="{ x ? 'col-50' : 'col'; }">
                                <button type="submit" class="font__5 button button-large button-raised btn-fill-app">GUARDAR</button>
                            </div>
                        </div>
                    </div>
                    <div class="br2"></div>
                </form>
            </div>
        </div>
    </div>

    <script>
        s.formUser = this
        this.x = null
        this.filter = {
            table: 'users'
        }
        
        this.on('mount', function(){
            $(".inpFrontFile").change(function() {
                s.formUser.changeImg(this);
            })
            $(".inpBackFile").change(function() {
                s.formUser.changeImg(this);
            })
            setTimeout(() => {
                if (s.partners && s.partners.current != null) {
                    s.formUser.x = s.partners.current
                } else if (s.users && s.users.current != null){
                    s.formUser.x = s.users.current
                }else if(s.type) {
                    $('#type').val(s.type)
                }
                s.formUser.update()
            }, 100);
        });


        sendUser(){
            let data = getFormData('formUser')
            G.postData(s.formUser.filter, data)
                .then(function(r) {
                    if (r) {
                        app.dialog.close()
                        G.toastS('Usuario gestionado con éxito.', 'center');
                        window.history.back()
                    } else {
                        G.fail();
                    }
                })
        }

        remove(x){
            return function(event) {
                app.dialog.confirm('¿Seguro de eliminar al usuario <span class="font__5">'+x.name+'</span>?', 'Eliminar usuario', function(){
                    app.dialog.preloader('Eliminando')
                    G.postData(s.formUser.filter, {id: x.id, status: 0})
                        .then(function(r) {
                            if (r) {
                                app.dialog.close()
                                G.toastS('Usuario eliminado con éxito', 'center', null, 2000);
                            } else {
                                G.fail();
                            }
                        })
                })
            }
        }

        perfom(){
                G.sendFile('frontImg', function(r) {
                    r = JSON.parse(r);
                    setTimeout(() => {
                        if (r.status == 200) {
                            $('#finalFrontImg').val(r.src)
                        }

                        G.sendFile('backImg', function(r) {
                            r = JSON.parse(r);
                            setTimeout(() => {
                                if (r.status == 200) {
                                    $('#finalBackImg').val(r.src)
                                }
                                s.formUser.sendUser();
                            }, 100)
                        })
                    }, 100)
                })
        }

        sendFormUser(){
            app.dialog.preloader('Guardado')
            let email = $('#email').val()
            console.log(s.formUser.x);
            if (s.formUser.x) {
                if (s.formUser.x.email == email)
                    return s.formUser.perfom()
            }
            G.getData({
                    table: 'users',
                    where: {
                        email: email,
                        status: 1
                    }
                })
                .then(function(r){
                    if (r.length != 0) {
                        if (r[0].email == email) {
                            app.dialog.close()
                            $('#email').focus()
                            G.toastS('Este correo ya se encuentra registrado', 'bottom');                         
                        } else {
                            s.formUser.perfom()
                        }
                    } else {
                        s.formUser.perfom()
                    }
                })
        }

        changeImg(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              $(input).parent().parent().parent().find('.imgPreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
          }
        }

        close(){
            window.history.back();
            if (s.users)
                s.users.current=null;
            if (s.partners) 
                s.partners.current=null;
            s.type = null;
        }
    </script>
</popup-user>